{% extends 'base.html' %}
{% load static %}
{% block style_link %}
    <link rel="stylesheet" href="{% static 'css/service_details_style.css' %}">
{% endblock %}
{% block main_content %}

    <div class="service-details-container">
        <div class="service-details-header">
            <h3>{{ object.name }}</h3>
        </div>
        {% if messages %}
            <ul class="messages flex justify-content-center">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} " role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        {% if request.user.is_staff %}
            <div class="service-links" aria-label="Team member actions">
                <a href="{% url 'update_service' pk=object.pk %}" class="action-link">update service</a>
                <a href="{% url 'delete_service' pk=object.pk %}" class="action-delete-link">delete service</a>
                <a href="{% url 'create_service_pricing' %}" class="action-link">add pricing</a>
                <a href="{% url 'create_service_picture' %}" class="action-link">add pictures</a>
            </div><!-- .tags-links -->
        {% endif %}
        <div class="service-images">
            {% for picture in object.pictures.all %}
                <img src="{{ picture.image.url }}" alt="{{ picture.id }}">
                {% if request.user.is_staff %}
                    <form action="{% url 'delete_picture' pk=picture.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="action-delete-link">
                            delete
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        <div class="service-description">
            <div>
                <h4>Why {{ object.name }}</h4>
            </div>
            <div>
                <p>{{ object.description|linebreaks }}</p>
            </div>
        </div>
        <div class="service-pricing">
            {% for treatment in object.pricing.all %}

                <div>
                    {% if request.user.is_staff %}
                        <div class="service-links" aria-label="Team member actions">
                            <a href="{% url 'update_pricing' pk=treatment.pk %}" class="action-link">update</a>
                            <form action="{% url 'delete_pricing' pk=treatment.pk %}" class="action-delete-form-link"
                                  method="POST">
                                {% csrf_token %}
                                <button type="submit" class="action-delete-link">
                                    delete
                                </button>
                            </form>
                        </div><!-- .tags-links -->
                    {% endif %}
                    <h4>{{ treatment.service_type }}</h4>
                    <p>{{ treatment.treatment_description }}</p>
                    {% if treatment.price %}
                        <p>Price: ${{ treatment.price }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}