{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <div class="container single-page blog-page">
        <div class="row">
            <div class="col-12">
                <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            {{ object.created_at|date:"F d, Y" }}
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{{ object.title }}</h2>

                        <div class="tags-links">
                            {% for tag in object.tags.all %}
                                <a href="{% url 'post-by-tag' slug=tag.slug %}">#{{ tag.name }}</a>
                            {% endfor %}
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{{ object.main_image.url }}" alt="{{ object.title }} main picture">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        {{ object.content|linebreaks }}
                    </div><!-- .entry-content -->

                    <blockquote class="blockquote-text">
                        {{ object.blockquote|linebreaks }}
                    </blockquote><!-- .blockquote-text -->

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <figure class="blog-page-half-img">
                                <img src="{{ object.left_image.url }}" alt="{{ object.title }} left picture">
                            </figure><!-- .blog-page-half-img -->
                        </div><!-- .col -->

                        <div class="col-12 col-md-6">
                            <figure class="blog-page-half-img">
                                <img src="{{ object.right_image.url }}" alt="{{ object.title }} right picture">
                            </figure><!-- .blog-page-half-img -->
                        </div><!-- .col -->
                    </div><!-- .row -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">{{ object.comments.count }} Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->

                <div class="content-area">
                    <div class="post-comments">
                        <h3 class="comments-title">Comments</h3>

                        <ol class="comment-list">
                            {% for comment in object.comments.all %}
                                <li class="comment">
                                    <div class="comment-body flex justify-content-between">
                                        <figure class="comment-author-avatar">
                                            {% if comment.author.profile.profile_picture %}
                                                <img src="{{ comment.author.profile.profile_picture }}" alt="user">
                                            {% else %}
                                                <img src="{% static 'images/default_pic.jpg' %}"
                                                     alt="Default Profile Picture">
                                            {% endif %}
                                        </figure><!-- .comment-author-avatar -->

                                        <div class="comment-wrap">
                                            <div class="comment-author flex flex-wrap align-items-center">
                                                <span class="fn">{{ comment.author.profile.get_profile_name }}</span>
                                                <!-- .fn -->

                                                <span class="comment-meta">{{ comment.created_at|date:"F d, Y" }}</span>
                                                <!-- .comment-meta -->
                                                {% if request.user == comment.author or request.user.is_superuser %}
                                                    <div class="reply">
                                                    <span class="fn">
                                                        <a href="{% url 'edit-comment' pk=comment.pk %}">Edit</a>
                                                    </span>
                                                        <span>
                                                        <a href="{% url 'delete-comment' pk=comment.pk %}">Delete</a>
                                                    </span>
                                                    </div>
                                                {% endif %}
                                            </div><!-- .comment-author -->

                                            <p>{{ comment.content|linebreaks }}</p>

                                        </div><!-- .comment-wrap -->
                                    </div><!-- .comment-body -->
                                </li><!-- .comment -->
                            {% endfor %}
                        </ol><!-- .comment-list -->
                    </div><!-- .post-comments -->

                    <div class="comments-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a comment</h3>
                            {% if user.is_authenticated %}
                                <form class="comment-form" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <button type="submit" class="btn">Post Comment</button>
                                </form><!-- .comment-form -->
                            {% else %}
                                <div class="comments-form">
                                    <p>Please <a href="{% url 'login_user' %}">login</a> to leave a comment.</p>
                                </div>
                            {% endif %}
                        </div><!-- .comment-respond -->
                    </div><!-- .comments-form -->

                </div><!-- .content-area -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}