{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="container single-page">
        <div class="row">
            <div class="col-12 col-lg-9">
                {% for post in object_list %}
                    <div class="content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">{{ post.title }}</h2>

                        </header><!-- .entry-header -->


                        <figure class="featured-image">
                            <img src="{{ post.main_image.url }}" alt="{{ post.title }}picture">
                        </figure><!-- .featured-image -->


                        <div class="entry-content">
                            <p>{{ post.blockquote|linebreaks }}</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                            <ul class="post-share flex align-items-center order-3 order-lg-1">
                                <label>Share</label>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul><!-- .post-share -->

                            <a class="read-more order-2" href="{% url 'post-details' slug=post.slug %}">Read more</a>

                            <div class="comments-count order-1 order-lg-3">
                                <p>{{ post.comment_count }} Comments</p>
                            </div><!-- .comments-count -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .content-wrap -->
                {% endfor %}
                <div class="pagination">
                    <ul class="flex align-items-center">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="#">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    <div class="tags-list">
                        {% for tag in tags_list %}
                            <a href="{% url 'post-by-tag' slug=tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div><!-- .tags-list -->
                    <div class="recent-posts">
                        {% for recent_post in random_list %}
                            <div class="recent-post-wrap">
                                <figure>
                                    <img src="{{ recent_post.main_image.url }}"
                                         alt="{{ recent_post.title }} main picture">
                                </figure>

                                <header class="entry-header">
                                    <div class="posted-date">
                                        {{ recent_post.created_at|date:"F d, Y" }}
                                    </div><!-- .entry-header -->

                                    <h3>
                                        <a href="{% url 'post-details' slug=recent_post.slug %}">{{ recent_post.title }}</a>
                                    </h3>

                                    <div class="tags-links">
                                        {% for tag in recent_post.tags.all %}
                                            <a href="{% url 'post-by-tag' slug=tag.slug %}">#{{ tag.name }}</a>
                                        {% endfor %}
                                    </div><!-- .tags-links -->
                                </header><!-- .entry-header -->
                            </div><!-- .recent-post-wrap -->
                        {% endfor %}
                    </div><!-- .recent-posts -->

                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
    {% block outer_footer %}
    {% endblock %}
{% endblock %}
