{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="outer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-header flex justify-content-center align-items-center"
                         style="background-image: url('{% static 'images/not_found.jpg' %}')">
                        <h1>Access Denied</h1>
                    </div><!-- .page-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .hero-section -->
    </div><!-- .outer-container -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>"Oops! You don’t have permission to access this page. If you think this is a mistake, please <a
                        href="{% url 'contact' %}">contact me</a> or return to the homepage."</h2>
            </div>
        </div>
    </div>
    <div class="row mt-4 m-4">
        <div class="col-12 text-center">
            <button onclick="goBack()" class="btn btn-primary">Go Back</button>
            <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Home page</a>
        </div>
    </div>
    {% block outer_footer %}
    {% endblock %}
    {% block extra_js %}
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% endblock %}
{% endblock %}
