{% extends 'base.html' %}
{% load static %}
{% block style_link %}
    <link rel="stylesheet" href="{% static 'css/service_details_style.css' %}">
{% endblock %}
{% block main_content %}
    <div class="service-details-container">
        <div class="service-details-header">
            <h3>{{ object.name }}</h3>
        </div>

        <div class="service-images">
            <img src="{{ object.image.url }}" alt="{{ object.name }} picture">
        </div>
        <div class="service-description">
            <div>
                <h4>Produced by: {{ object.brand }}</h4>
            </div>
            <div class="service-pricing">
                <p>$ {{ object.price }}</p>
            </div>
            <div>
                <p class="mb-3">
                    {#                {% url 'add to cart' slug=object.slug %}#}
                    <a href="#" class="btn btn-secondary">Add to Cart</a>
                </p>
            </div>
            <div>
                <p><strong>About the product:</strong></p>
                <p>{{ object.description|linebreaks }}</p>
            </div>
        </div>
    </div>
{% endblock %}