{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="container single-page">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="content-wrap">
                    <header class="entry-header">
                        <h2 class="entry-title">A BIT ABOUT ME</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{% static 'images/1.jpg' %}" alt="">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        <p>From the very beginning, my priority has been to provide a high level of professionalism
                            at
                            prices accessible to everyone. With a strong foundation of expertise, combined with
                            attentive service and a commitment to client comfort, I’ve been able to cultivate a
                            loyal
                            circle of clients who trust me with their beauty needs. It’s a joy to bring out the best
                            in
                            each client, helping them feel confident and radiant every day. </p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <a class="read-more order-2" href="#">Read more</a>

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->

                <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            January 30, 2018
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">Travel tips for nature loversy</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{% static 'images/2.jpg' %}" alt="">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
                            volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet
                            neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in
                            porttitor
                            magna, a imperdiet est. </p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <a class="read-more order-2" href="#">Read more</a>

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->

                <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            January 30, 2018
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">How to get dress on a hiking trip</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{% static 'images/3.jpg' %}" alt="">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
                            volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet
                            neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in
                            porttitor
                            magna, a imperdiet est. </p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <a class="read-more order-2" href="#">Read more</a>

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->

                <div class="pagination">
                    <ul class="flex align-items-center">
                        <li class="active"><a href="#">01.</a></li>
                        <li><a href="#">02.</a></li>
                        <li><a href="#">03.</a></li>
                    </ul>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    <div class="about-me">
                        <h2>I’m Amelia Smith</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
                            volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet
                            neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in
                            porttitor
                            magna.</p>
                    </div><!-- .about-me -->

                    <div class="recent-posts">
                        <div class="recent-post-wrap">
                            <figure>
                                <img src="{% static 'images/thumb-1.jpg' %}" alt="">
                            </figure>

                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div><!-- .entry-header -->

                                <h3><a href="#">My fall in love story</a></h3>

                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div><!-- .tags-links -->
                            </header><!-- .entry-header -->
                        </div><!-- .recent-post-wrap -->

                        <div class="recent-post-wrap">
                            <figure>
                                <img src="{% static 'images/thumb-2.jpg' %}" alt="">
                            </figure>

                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div><!-- .entry-header -->

                                <h3><a href="#">My fall in love story</a></h3>

                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div><!-- .tags-links -->
                            </header><!-- .entry-header -->
                        </div><!-- .recent-post-wrap -->

                        <div class="recent-post-wrap">
                            <figure>
                                <img src="{% static 'images/thumb-3.jpg' %}" alt="">
                            </figure>

                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div><!-- .entry-header -->

                                <h3><a href="#">My fall in love story</a></h3>

                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div><!-- .tags-links -->
                            </header><!-- .entry-header -->
                        </div><!-- .recent-post-wrap -->

                        <div class="recent-post-wrap">
                            <figure>
                                <img src="{% static 'images/thumb-4.jpg' %}" alt="">
                            </figure>

                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div><!-- .entry-header -->

                                <h3><a href="#">My fall in love story</a></h3>

                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div><!-- .tags-links -->
                            </header><!-- .entry-header -->
                        </div><!-- .recent-post-wrap -->
                    </div><!-- .recent-posts -->

                    <div class="tags-list">
                        <a href="#">Music</a>
                        <a href="#">Love</a>
                        <a href="#">Car</a>
                        <a href="#">Stories</a>
                        <a href="#">Photography</a>
                        <a href="#">Music</a>
                        <a href="#">Car</a>
                    </div><!-- .tags-list -->

                    <div class="sidebar-ads">
                        <a href="https://www.facebook.com/@StudioZaKrasotaSianie"><img
                                src="{% static 'images/ads.jpg' %}" alt="ads"></a>
                        {#                        <img src="{% static 'images/ads.jpg' %}" alt="ads">#}
                    </div>
                    <div class="sidebar-ads">
                        <a href="https://www.facebook.com/photo/?fbid=736061401860485&set=a.488051289994832&locale=bg_BG"><img
                                src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/359178681_736061395193819_3572424044013930088_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=otImLOYlH_wQ7kNvgEcnqIG&_nc_zt=23&_nc_ht=scontent.fsof8-1.fna&_nc_gid=ARNQcAINuI0OdY8Yr40yLNH&oh=00_AYDIzK1_6S0Mu3o_7XD4WWfOd5jEc5mwBz-uFSsYmhWUPQ&oe=672EADAA"
                                alt="ads"></a>
                        {#                        <img src="{% static 'images/ads.jpg' %}" alt="ads">#}
                    </div>
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

{% endblock %}
