{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="container single-page">
        <div class="row">
            <div class="col-12 col-lg-9">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} " role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for card in object_list %}
                    <div class="content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">{{ card.title }}</h2>
                            {% if request.user.is_staff %}
                                <div class="tags-links" aria-label="Team member actions">
                                    <a href="{% url 'create_team_member' %}" class="action-link">create</a>
                                    <a href="{% url 'update_team_member' pk=card.pk %}" class="action-link">update</a>
                                    <a href="{% url 'delete_team_member' pk=card.pk %}" class="action-delete-link">delete</a>
                                </div><!-- .tags-links -->
                            {% endif %}
                        </header><!-- .entry-header -->

                        {% if card.picture %}
                            <figure class="featured-image">
                                <img src="{{ card.picture.url }}" alt="{{ card.name }}picture">
                            </figure><!-- .featured-image -->
                        {% else %}
                            <figure class="featured-image">
                                <img src="{% static 'images/default team member.jpg' %}"
                                     alt="Default Team Member Picture">
                            </figure><!-- .featured-image -->
                        {% endif %}

                        <div class="entry-content">
                            <p>{{ card.description }}</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                            <ul class="post-share flex align-items-center order-3 order-lg-1">
                                <label>Share</label>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul><!-- .post-share -->

                            <a class="read-more order-2" href="{% url 'details_team_member' pk=card.pk %}">Read more</a>

                            <div class="comments-count order-1 order-lg-3">
                                <p>2 Comments</p>
                            </div><!-- .comments-count -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .content-wrap -->
                {% endfor %}
                <div class="pagination">
                    <ul class="flex align-items-center">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="#">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    <div class="about-me">
                        <h2>I’m Rusina Tahova </h2>

                        <p>
                            As a passionate licensed aesthetician, I’ve always been inspired by the transformative power
                            of beauty. Specializing in advanced techniques like microblading, lash extensions, and laser
                            treatments, I combine artistry and precision to enhance natural beauty. My goal is to boost
                            confidence and empower every client.</p>
                    </div><!-- .about-me -->
                    {% include 'partials/sidebar_tags_posts.html' %}
                    {% if request.user.is_staff %}
                        <div class="sidebar-adv-links">
                            <a href="{% url 'create_adv_card' %}">Create Advertisement</a>
                        </div><!-- .tags-links -->
                    {% endif %}
                    {% for adv in ads|slice:"3" %}
                        <div class="sidebar-ads">
                            {% if request.user.is_staff %}
                                <a href="{% url 'update_adv_card' pk=adv.pk %}">Update</a>
                                <a href="{% url 'delete_adv_card' pk=adv.pk %}" class="action-delete-link">Delete</a>
                            {% endif %}
                            <a href="{{ adv.adv_link }}">
                                <img src="{{ adv.adv_image.url }}" alt="adv {{ adv.name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

{% endblock %}
